.btn{
    cursor: pointer;
    padding: 30px 44px;
    color: #fff;
    border-radius: 16px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 17px;
    border: 0;
    background: linear-gradient(83.46deg, #DD4492 5.87%, #735184 97.76%);
    &:hover{
        background: $selected;
        color: #fff;
    }
    &:focus{
        outline: none;
    }
    &--callback{
        padding: 15px 24px;
        color: $accent;
        border: 2px solid #735184;
        background: transparent;
        font-size: 14px;
    }
    &--small{
        font-size: 16px;
        padding: 16px 44px;
    }
    &--middlesize{
        padding: 22px 44px;
        @media (max-width: 1200px){
            max-width: 226px;
        }
    }
    &--price{
        padding: 27px 70px 27px 44px;
        font-size: 17px;
    }
    &--download{
        position: relative;
        &:before{
            content: url('../img/download.svg');
            position: absolute;
            right: 2.5em;
            top: 45%;
            transform: translateY(-50%);
            width: 20px;
            height: 15px;
        }
    }
    &--white{
        background: #fff;
        color: #735184;
    }
}