.header{
    &__inner{
        padding: 16px 0;
        width: 100%;
        position: fixed;
        z-index: 10;
    }
    &__logo{
        max-width: 390px;
        height: 31px;
        img{
            width: 100%;
        }
    }
    &__phone{
        padding-right: 35px;
    }
}