.promo{
    min-height: 880px;
    background: #EBEAEB;
    background: url('../img/promo.jpg') center center/cover no-repeat;
    position: relative;
    &__inner{
        padding: 170px 0 135px;
    }
    &__list{
        margin-top: 45px;
        margin-bottom: 3rem;
        justify-content: space-between;
    }
    &__item{
        line-height: 150%;
        margin-bottom: 20px;
    }
    &__icon{
        display: inline-block;
        &::before{
            content: url('../img/check.svg');
            width: 48px;
            height: 47.5px;
            display: inline-block;
        }
    }
    &__img{
        img{
            width: 100%;
        }
    }
    &__btn{
        margin-top: 35px;
    }

    @media (max-width: 1450px){        
        min-height: 750px;
        &__inner{
            padding: 100px 0 80px;
        }
        .text{
            font-size: 16px;
        }
    }
    @media (max-width: 992px){
        &__item{
            display: flex;
        }
        &__icon{
            margin-right: 20px;
        }
        &__text{
            margin-top: 10px;
        }
        &__list{
            flex-direction: column;
            align-items: flex-start;
        }
    }     
    @media (max-width: 768px){
        &__list{
            margin-top: 20px;
        }
        &__icon{
            margin-right: 40px;
            &::before {
                width: 25px;
                height: 25px;
            }
        }
    }
    @media (max-width: 576px){
        background: url('../img/promo-mobile.jpg') center center/cover no-repeat;
        &__inner{
            padding: 75px 5px 56px;
        }
        &__btn{
            font-size: 15px;
            padding: 25px 30px;
        }
    }
    @media (max-width: 480px){
        min-height: 850px;
        &__btn{
            margin-top: 40px;
        }
    }
}