.stuff{
    &__inner{
        padding: 95px 0 90px;
    }
    &__list{
        margin-top: 52px;
        margin-bottom: 44px;
    }
    &__item{
        overflow: hidden;
        border-radius: 18px;
        background-color: #fff;
    }
    &__img{
        text-align: center;
        background-color: #D3D3D9;
        border-radius: 18px 18px 0 0;
        max-height: 330px;
        overflow: hidden;
        padding-top: 20px;
        img{
            object-fit: scale-down;
            width: 100%;
            object-position: top;
        }
    }
    &__info{
        padding: 30px 35px 40px;
    }
    &__name{
        font-size: 24px;
        margin-bottom: 12px;
        font-weight: 300;
    }
    &__job{
        margin-bottom: 28px;
        font-weight: 500;
    }
}